.img {display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-decoration: underline;
    color: #666;
    text-align: center;
}
p{
    font-family: Verdana; 
}

body {
    background-color: azure;
}

footer{
    text-align: center;
}